server:
  port: 8082

spring:
  application:
    name: task-service
  datasource:
    url: jdbc:postgresql://localhost:5432/demodb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

user-service:
  url: http://localhost:8081
